# Core CLI tools
brew "chezmoi"
brew "git"
brew "fish"
brew "fd"
brew "fastfetch"
brew "fzf"
brew "gcc"
brew "gitui"
brew "lazygit"
brew "neovim"
brew "node"
brew "ripgrep"
brew "tmux"
brew "wget"
{{- if not (and (hasKey . "is_server") .is_server) }}

# Desktop/dev tools
brew "awscli"
brew "go"
brew "hugo"
brew "imagemagick"
brew "luarocks"
brew "terraform"

# Casks
cask "bettermouse"
cask "claude"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "moom"
cask "visual-studio-code"

# VS Code extensions
vscode "amazonwebservices.aws-toolkit-vscode"
vscode "catppuccin.catppuccin-vsc"
vscode "ecmel.vscode-html-css"
vscode "enkia.tokyo-night"
vscode "esbenp.prettier-vscode"
vscode "foxundermoon.shell-format"
vscode "golang.go"
vscode "hashicorp.terraform"
vscode "james-yu.latex-workshop"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "vscodevim.vim"
{{- end }}
